/*To all objects*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #EBEBEB;
    overflow-x: hidden; 
}

/* Styles for header */
.header {
    min-height: 40vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url("images/pawel-czerwinski-O5uri6kQHQQ-uns.png");
    background-size: cover;
    margin: 0;
}

/* Styles for sections */
.objects {
    text-align: center;
    margin: 20px 0;
}

/* Navigation Styling */
nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul {
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #0b1215;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #3C096C;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa {
    display: none;
}

/* Мobile style for navigation */
@media (max-width: 700px) {
    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #3C096C;
        height: 100vh;
        width: 100%;
        top: 0;
        right: -100%;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
        opacity: 0.9;
    }

    .nav-links ul {
        padding: 30px;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        color: #0b1215;
    }

    .nav-links .fa-close {
        color: #fff;
    }

    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li a {
        color: #fff; 
    }
}

/*Top left side logo*/
a.top-logo {
    text-decoration: none;
    color: #0b1215;
    font-size: 20px;
}

/* Text on main page*/
.text-box {
    width: 90%;
    color: #212427;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 20px 0 40px;
    font-size: 20px;
    color: #0b1215;
}

p {
    color: #0b1215;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

/* Project section */
.project-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newprojects {
    margin-top: 10px;
    padding: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.newprojects img {
    width: 100%;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 1000ms;
    border-radius: 10px;
}

.newprojects ul {
    list-style: none;
    margin: 0;
    padding: 0 4rem; 
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    max-width: 100%;
    width: calc(100% - 4rem);
    border-radius: 10px;
}

.newprojects li {
    margin-bottom: 0.5rem;
    width: 100%;
}

.newprojects figure {
    margin: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.newprojects figure::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: rgba(0, 0, 0, 0.5);
    transform-origin: center;
    opacity: 0;
    transform: scale(2);
    transition: opacity 100ms;
    border-radius: 10px;
}

.newprojects figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    z-index: 1;
    opacity: 0;
    transition: opacity 600ms, transform 600ms;
    border-radius: 10px;
}

.newprojects a:is(:hover, :focus) figure::after {
    opacity: 1;
    border-radius: 10px;
}

.newprojects a:is(:hover, :focus) figcaption {
    opacity: 1;
    border-radius: 10px;
}

/*Mobile style for projects*/
@media (prefers-reduced-motion: no-preference) {
    .newprojects figcaption {
        transform: translate3d(0, 2rem, 0);
    }

    .newprojects figure::after {
        border-radius: 50%;
        opacity: 1;
        transform: scale(0);
        transition: transform 900ms;
    }

    .newprojects a:is(:hover, :focus) figure::after {
        transform: scale(2.5);
    }

    .newprojects a:is(:hover, :focus) figcaption {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: opacity 600ms 400ms, transform 600ms 400ms;
    }

    .newprojects a:is(:hover, :focus) img {
        transform: scale(1.2);
    }
}

/* Gallery */
.gallery img {
    width: 200px;
    cursor: pointer;
}

/* Modal Window */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative; 
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
}

.modal-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

.modal-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
}

.image-wrapper {
    position: relative;
    width: 100%; 
    padding-top: 75%;
    overflow: hidden;
    border-radius: 10px;
}

.image-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
    object-fit: contain;
    border-radius: 10px; 
    max-width: 100%;
    max-height: 100%;
}

.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-dot {
    background-color: #717171;
}

.modal-text {
    width: 50%; 
    padding: 10px 20px 20px 20px;
    text-align: left;
}

/*Button style for sliding in modal window */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    background-color: rgba(0,0,0, 0.8);
    border: none;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    outline: none;
    box-shadow: none;
}

.prev {
    left: 0; 
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0; 
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(60,9,108, 0.5);
}

/*Close button styling*/
.close {
    color: black;
    position: absolute; 
    top: 10px; 
    right: 10px; 
    font-size: 28px;
    font-weight: bold;
    z-index: 11; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Mobile styling for modal window */
@media (max-width: 700px) {
    .modal-content {
        flex-direction: column;
        align-items: center;
        padding-top: 40px; 
    }

    .modal-container {
        flex-direction: column;
        align-items: center;
    }

    .modal-images {
        width: 100%;
        margin-bottom: 10px;
        position: relative; 
    }

    .modal-images img {
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
    }

    .modal-text {
        max-width: 100%;
        padding: 10px 20px 20px 20px;
        text-align: center;
    }

    .prev, .next {
        top: 50%;
        width: 40px;
        height: 40px;
        font-size: 22px;
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10; 
    }

    .prev {
        left: 0; 
        transform: translateY(-50%);
        border-radius: 0 3px 3px 0;
    }

    .next {
        right: 0; 
        transform: translateY(-50%);
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .close {
        top: -5px;
        left: 95%; 
        transform: translateX(-50%);
    }

    .newprojects ul {
        grid-template-columns: repeat(2, 1fr); /* two collums */
        gap: 0.5rem;
        padding: 0 1rem; 
        max-width: 100%;
    }

    .newprojects li {
        margin-bottom: 0.5rem;
        width: 100%;
    }
}
/*Table styling for Mobile*/
@media (max-width: 700px) {
    .newprojects ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        padding: 0 1rem;
        max-width: 100%;
    }

    .newprojects li {
        width: 100%;
    }
}

/*Contacts section styling*/
.contacts {
    padding: 20px;
    margin-bottom: 40px;
}

.contacts h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contacts-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; 
    position: relative;
}

.contacts-col {
    flex: 1;
    min-width: 200px;
    max-width: 400px;
    text-align: left; 
}

.contacts-col.middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.contacts-col.right {
    margin-right: 0; 
}

.contact-list-item {
    margin-bottom: 20px;
    color:#EAEAEA
}

.contacts-header {
    font-size: 18px;
    margin-bottom: 10px;
}

.list-name-descr, .contact-list-link, .contact-list-item a {
    font-size: 14px;
    color: #EAEAEA;
}

.contact-list-link a, .contact-list-item a {
    color: inherit;
    text-decoration: none;
}

.contact-list-link a:hover, .contact-list-item a:hover {
    text-decoration: underline;
}

/*Contact section styling for mobile devices*/
@media (max-width: 768px) {
    .contacts-grid {
        flex-direction: column;
        align-items: flex-start; 
        gap: 30px;
    }

    .contacts-col {
        margin-bottom: 5px; 
    }

    .contacts-col.middle {
        position: static;
        transform: none;
        text-align: left; 
    }

    .contacts-col.right {
        margin-right: 0;
    }

    .contact-list-item {
        margin-bottom: 10px;
    }

    .contacts-header {
        margin-bottom: 5px;
    }
}

/*Footer styling*/
.footer {
    background: #1F2325;
    color: #EAEAEA;
    text-align: center;
    margin-top: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #EAEAEA;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section.contact ul li {
    display: flex;
    align-items: center;
}

.footer-section.contact ul li i {
    margin-right: 10px;
}

.footer-bottom {
    background: #0b1215;
    color: #EAEAEA;
    padding: 10px 0;
    font-size: 14px;
    margin-top: 20px;
}

/*Footer styling for mobile devices*/
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}

/*Dots styling*/
.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-dot {
    background-color: #3C096C;
}
