html {
    scroll-behavior: smooth; /*TO CHECK*/
}

/*To all objects*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #EBEBEB;
}

/*Top left side logo*/
a.top-logo {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}


.header {
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image:url("images/pawel-czerwinski-O5uri6kQHQQ-uns.png");
    background-size:cover;
}

/*Navigation bar*/
nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul {
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #3C096C;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa {
    display: none;
}

/*Text box on main page*/
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 20px 0 40px;
    font-size: 20px;
    color:#fff;
}


.first-page-button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    transition: 1s;
    text-align: center;
    border-radius: 10px;
 
}

.first-page-button:hover {
    border: 1px solid #3C096C;
    background: #3C096C;

}

@media (max-width: 700px) {
    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #3C096C;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
        opacity: 0.7;
    }

    .nav-links ul {
        padding: 30px;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .text-box h1 {
        font-size: 20px;
    }
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.facts {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facts-col {
    flex-basis: 31%;
    background: #EBEBEB;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: 0.5s;
}

.facts-col:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

h3 {
    font-weight: 600;
    margin: 10px 0;
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.projectsbox {
    text-align: center;
    padding: 50px 0;
}

.projectsbox h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.projectsbox p {
    font-size: 16px;
    color: #777;
}

.newprojects {
    margin: 0;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newprojects img {
    width: 100%;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 1000ms;
}

.newprojects ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    max-width: 100%;
    width: 70rem;
}

.newprojects figure {
    margin: 0;
    position: relative;
    overflow: hidden;
}

.newprojects figure::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: rgba(0, 0, 0, 0.5);
    transform-origin: center;
    opacity: 0;
    transform: scale(2);
    transition: opacity 100ms;
}

.newprojects figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    z-index: 1;
    opacity: 0;
    transition: opacity 600ms, transform 600ms;
}

.newprojects a:is(:hover, :focus) figure::after {
    opacity: 1;
}

.newprojects a:is(:hover, :focus) figcaption {
    opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
    .newprojects figcaption {
        transform: translate3d(0, 2rem, 0);
    }

    .newprojects figure::after {
        border-radius: 50%;
        opacity: 1;
        transform: scale(0);
        transition: transform 900ms;
    }

    .newprojects a:is(:hover, :focus) figure::after {
        transform: scale(2.5);
    }

    .newprojects a:is(:hover, :focus) figcaption {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: opacity 600ms 400ms, transform 600ms 400ms;
    }

    .newprojects a:is(:hover, :focus) img {
        transform: scale(1.2);
    }
}
/*BUTTON FOR OTHER CONTENT*/
.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Регулируйте по необходимости */
}

.projects-button {
    display: inline-block;
    text-decoration: none;
    color: #777;
    border: 1px solid #777; /* Обводка красного цвета */
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    transition: 1s;
    text-align: center;
    border-radius: 10px;
}

.projects-button:hover {
    border-color: #3C096C; /* Обводка при наведении */
    background: #3C096C;/* Фоновый цвет при наведении */
}

/*PARTNERS*/
.partners {
    text-align: center;
    padding: 50px 0;
}

.partners h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.partner-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.logo-item {
    flex: 1 1 150px;
    max-width: 200px;
    text-align: center;
}

.logo-item img {
    width: 150px;
    height: 100px;
    display: block;
    margin-bottom: 10px;
    object-fit: contain;
}

.logo-item p {
    font-size: 14px;
    color: #555;
    margin: 0;
}

/*CONTACTS*/
.contacts {
    width: 375px;
    max-height: 528px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.contacts-list {
    width: 375px;
    align-items: center;
    justify-content: center;
}

.contact-list-item {
    max-width: 375px;
    border-bottom: 1px solid #C4C4C4;
    max-height: 146px;
    padding: 23px 0;
    display: flex;
}

.contacts-header {
    margin: 0 47px 0 0;
    min-width: 98px;
    align-self: center;
}

.contact-list-link {
    text-decoration: none;
    color: #CD9B37;
    display: block;
    margin-bottom: 15px;
}

.contact-list-link:last-child {
    margin-bottom: 0;
}

.list-name-descr {
    margin: 0;
}

